@font-face {
    font-family: GoraFree;
    src: url(./assets/fonts/Gora-Free.woff),
            url(./assets/fonts/Gora-Free.woff2);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

.logo {
    display: inline-block;
    color: rgb(248, 149, 19);
    font-family: 'GoraFree', sans-serif;
}

.main-header {
    background-color: #131415;
    margin-bottom: 80px;
    width: 100%;
}

.main-header .container {
    box-sizing: border-box;
    height: 77px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
}

.menu {
    display: inline-block;
    color: #fff;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu li {
    display: inline-block;
}

.menu__item {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 18px;
}

.menu__item--main:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(./assets/images/sidebar/main_icon.png) no-repeat center center / cover;
    margin-right: 18px;
}

.menu__item--feed:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(./assets/images/sidebar/feed_icon.png) no-repeat center center / cover;
    margin-right: 18px;
}

.menu__item--service:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(./assets/images/sidebar/service_icon.png) no-repeat center center / cover;
    margin-right: 18px;
}

.contact {
    display: inline-block;
}

.contact a {
    display: block;
    text-align: right;
}

.contact__phone {
    font-size: 21px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.contact__schedule {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgba(248, 149, 19, 0.702);
    text-decoration: underline;
    line-height: 1.42;
}

.contact__schedule:hover {
    color: #efdccd;
}

.banner {
    text-align: center;
    margin-bottom: 58px;
}

/* NEWS BENEFITS */

.benefits {
    background-color: #131415;
    color: #fff;
    padding: 64px 0px 100px 0px;
    margin-bottom: 65px;
}

.benefits__title {
    font-size: 49px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
}

.benefit-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 90px;
}

.benefit-list__icon {
    background-color: #f89513;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: inline-block;
    position: relative;
}

.benefit-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-list__icon {
    margin-bottom: 40px;
}

.benefit-list__icon--uniq {
    background: #f89513 url(./assets/images/benefits/flower.png) no-repeat center;
}

.benefit-list__icon--favorite {
    background: #f89513 url(./assets/images/benefits/mark-as-favorite-star.png) no-repeat center;
}

.benefit-list__icon--palette {
    background: #f89513 url(./assets/images/benefits/painter-palette.png) no-repeat center;
}

.benefits-list__title {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.benefits-list__desc {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: center;
}

.benefits-list__desc ul {
    text-align: start;
    padding: 0px 25px;
}

/* NEWS */

.news__title {
    font-size: 49px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
}

.news__container {
    display: flex;
    justify-content: space-between;
}

.content-list__item {
    display: flex;
    margin: 0px 20px 30px 0px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(245, 245, 245);
}

.content-list__item {
    border: none;
}

.content-list__avatar {
    width: 160px;
    height: 160px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.content-list__image {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.content-list__desc h6 {
    font-weight: lighter;
    color: rgb(101, 100, 100);
}

.content-list__desc h5 {
    font-size: 16px;
}

.content-list__desc {
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 1.5;
    max-width: 620px;
    color: #221f1f;
}

/* NEWS TOP */

.news__top--text, .news__top--grey {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.75;
}

.news__top--grey {
    color: #656464;
    margin-bottom: 22px;
}

.top-list__item {
    margin-right: 18px;
    margin-bottom: 11px;
}

/* NEWS PAGINATION */
.pagination {
    color: #656464;
    text-align: center;
    margin-bottom: 66px;
}

.pagination * {
    display: inline-block;
    color: #221f1f;
}

.pagination-list {
    display: inline-flex;
    justify-content: space-between;
    width: 170px;
}

.pagination__item a {
    width: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
}

.pagination__item a:active {
    background-color: rgb(39, 39, 62);
    color: rgb(255, 255, 255);
}

.pagination--back {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    margin: 0px 15px;
    background: url(./assets/images/pagination/vector-back.png) no-repeat center center;
}

.pagination--forward {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    background: url(./assets/images/pagination/vector-forward.png) no-repeat center center;
}

/* FOOTER */
footer {
    background-color: #131415;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    align-items: center;
}

.info {
    max-width: 250px;
}

.info p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    margin: 14px 0px 0px 0px;
}

.info a {
    color: inherit;
}

.info__company {
    font-weight: bold;
}

.info__author {
    font-weight: bold;
}

.footer__logo {
    color: rgb(248, 149, 19);
    font-family: 'GoraFree', sans-serif;
}

.social-networks__text {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 11px;
}

.social-networks__list {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.social-networks__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.social-networks__item.vk {
    background: #d0d0d0 url(./assets/images/footer-social-links/vk.png) no-repeat center center;
}

.social-networks__item.fb {
    background: #d0d0d0 url(./assets/images/footer-social-links/fb.png) no-repeat center center;
}

.social-networks__item.google {
    background: #d0d0d0 url(./assets/images/footer-social-links/google.png) no-repeat center center;
}

.social-networks__item.twitter {
    background: #d0d0d0 url(./assets/images/footer-social-links/twitter.png) no-repeat center center;
}

.social-networks__item.mail {
    background: #d0d0d0 url(./assets/images/footer-social-links/mail.png) no-repeat center center;
}

.social-networks__item:hover {
    background-color: #f89513;
}