.benefits {
    background-color: #131415;
    color: #fff;
    padding: 64px 0px 100px 0px;
    margin-bottom: 65px;
}

.benefits__title {
    font-size: 49px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
}

.benefit-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 90px;
}

.benefit-list__icon {
    background-color: #f89513;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: inline-block;
    position: relative;
}

.benefit-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-list__icon {
    margin-bottom: 40px;
}

.benefit-list__icon--uniq {
    background: #f89513 url(/assets/images/benefits/flower.png) no-repeat center;
}

.benefit-list__icon--favorite {
    background: #f89513 url(/assets/images/benefits/mark-as-favorite-star.png) no-repeat center;
}

.benefit-list__icon--palette {
    background: #f89513 url(/assets/images/benefits/painter-palette.png) no-repeat center;
}

.benefits-list__title {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.benefits-list__desc {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: center;
}

.benefits-list__desc ul {
    text-align: start;
    padding: 0px 25px;
}