.benefits {
    background-color: #131415;
    color: #fff;
    padding: 66px 0px 51px 0px;
    margin-bottom: 68px;
}

.benefits .container {
    overflow: auto;
}

.title {
    font-size: 49px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
    line-height: 36px;
    letter-spacing: 1.4px;
}

.benefit-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 750px;
    margin: 0px auto 43px;
}

.benefit-list__icon {
    background-color: #f89513;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: inline-block;
    position: relative;
}

.benefit-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 204px;
    width: 33.3%;
    margin-right: 75px;
}

.benefit-list__item:last-child {
    margin-right: 0px;;
}

.benefit-list__icon {
    margin-bottom: 36px;
}

.benefit-list__icon--uniq {
    background: #f89513 url(/assets/images/benefits/flower.png) no-repeat center;
}

.benefit-list__icon--favorite {
    background: #f89513 url(/assets/images/benefits/mark-as-favorite-star.png) no-repeat center;
}

.benefit-list__icon--palette {
    background: #f89513 url(/assets/images/benefits/painter-palette.png) no-repeat center;
}

.benefits-list__title {
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.benefits-list__desc {
    font-size: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
}

.benefits-list__desc p {
    margin-bottom: 6px;
    line-height: 30px;
}

.benefits-list__desc ul {
    text-align: start;
}

.benefits-list__desc li {
    margin-bottom: 7px;
}

.benefits-list__desc li:before {
    content: "\2022";
    display: inline-block;
    margin-right: 26px;
}