.bread-crumbs {
    display: flex;
    text-align: left;
    margin: 0px 0px 11px 3px;
}

.bread-crumbs__link{
    color: rgba(248, 149, 19, 0.8);
    text-decoration: underline;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
}

.bread-crumbs__link:after {
    content: "/";
    display: inline-block;
    margin: 0px 4px;
    color: #656464;
}

.bread-crumbs__item:last-child .bread-crumbs__link{
    color: #656464;
    text-decoration-line: none;;
}

.bread-crumbs__item:last-child a:after {
    content: "";
}
