.main-header {
    background-color: #131415;
    margin-bottom: 75px;
    width: 100%;
}

.main-header.service-page {
    margin-bottom: 37px;
}

.main-header .container {
    box-sizing: border-box;
    height: 77px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__column {
    width: 33.3%;
}

.header__column:last-child {
    text-align: end;
}