.menu {
    color: #fff;
}

.menu li {
    display: inline-block;
    padding: 0px 0px 0px 7px;
}

.menu a {
    display: flex;
    align-items: flex-end;
}

.menu__item {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Open Sans";
    letter-spacing: 1.2px;
    color: rgb(255, 255, 255);
}

.menu__item:before {
    content: "";
    display: inline-block;
}

.menu__item--main {
    margin-right: 18px;
}

.menu__item--feed {
    margin-right: 15px;
}

.menu__item--main:before {
    width: 19px;
    height: 14px;
    background: url(/assets/images/sidebar/sprites.png) -49px -48px;
    margin-right: 20px;
}

.menu__item--feed:before {
    width: 20px;
    height: 18px;
    background: url(/assets/images/sidebar/sprites.png) -50px -10px;
    margin-right: 18px;
}

.menu__item--service:before {
    width: 19px;
    height: 14px;
    background: url(/assets/images/sidebar/sprites.png) -90px -44px;
    margin-right: 18px;
}

.menu li:hover  > .menu__item{
    color: #f89513;
}

.menu li:hover > .menu__item--main:before {
    background: url(/assets/images/sidebar/sprites.png) -10px -48px;
}

.menu li:hover > .menu__item--feed:before {
    background: url(/assets/images/sidebar/sprites.png) -10px -10px;
}

.menu li:hover > .menu__item--service:before {
    background: url(/assets/images/sidebar/sprites.png) -90px -10px;
}