.news .title {
    color: rgb(34, 31, 31);
    margin-bottom: 78px;
}

.news__container {
    display: flex;
    justify-content: space-between;
}

.content-list {
    margin-bottom: 20px;
}

.content-list__item {
    display: flex;
    margin: 0px 0px 29px 0px;
    border-bottom: 2px solid rgb(245, 245, 245);
}

.content-list__item:last-child {
    border: none;
}

.content-list__avatar {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 31px;
}

.content-list__image {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.content-list__desc {
    font-family: Roboto;
    margin: 0px 0px 0px 20px;
    font-size: 18px;
    color: #221f1f;
    line-height: 21px;
}

.content-list__desc h6 {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px;
}

.content-list__desc h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 9px;
}

.content-list__desc p {
    line-height: 30px;
    font-weight: 300;
}

.news__top {
    margin-left: 24px;
}

.news__top--black, .news__top--grey {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.news__top--grey {
    color: #656464;
    margin-bottom: 16px;
}

.top-list__item {
    margin-bottom: 17px;
}

.top-list__item .link {
    display: inline-block;
}

.top-list__item:first-child>.link img {
    height: 120px;
}

.top-list__item>.link img {
    opacity: 0.6;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.top-list__item>.link img:hover {
    opacity: 1;
}
