.schedule__container {
    position: relative;
}

.schedule__container:hover>.schedule__info {
    display: block;
}

.schedule__info {
    display: none;
    position: absolute;
    width: 180px;
    background-image: url(../assets/images/schedule_back.png);
    padding: 38px 18px 19px 35px;
    text-align: left;
}

.schedule__work {
    color: #f89513;
    font-size: 14px;
    font-weight: 700;
}

.schedule__lunch {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}

