.add-feed {
    background-color: #f5f5f5;
    padding: 50px 70px;
}

.add-feed__title {
    font-size: 49px;
    font-family: "Open Sans";
    color: rgb(34, 31, 31);
    font-weight: bold;
    line-height: 0.776;
    margin-bottom: 25px;
}
