.additional-info {
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
    line-height: 30px;
    background-color:  #131415 ;
}

.additional-info > .container {
    background: #131415 url('/assets/images/additional-info/add-info.png') no-repeat center center;
}

.additional-info__contant {
    padding: 23px 196px 30px;
}

.additional-info__contant b {
    font-weight: bold;
    color: #f89513;
}